@define-color base0 #24273a;
@define-color content #cad3f5;
@define-color accent #181926;
@define-color primary #c6a0f6;


window {
    padding: 20px;
    color: transparent;
    border-color: @primary;
    border-radius: 6px;
    background-color: transparent;
}

#input {
    margin: 12px;
    padding: 4px;
    border-radius: 6px;
    padding-left: 12px;
    padding-right: 12px;
    font: 13px "Roboto Mono";
    color: @content;
    font-weight: 400;
    border: 1px solid @primary;
    outline: none;
}

#input:focus {
    border-color: transparent;
    outline: none;
}

#filter {
    background-color: red;
}

#inner-box {
    margin: 8px;
    background-color: @base0;
    border: none;
}

#outer-box {
    margin: 0px;
    border: none;
    background-color: @base0;
}

#entry {
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 12px;
    padding-right: 12px;
    background-color: transparent;
    border-radius: 0;
}

#entry:selected {
    background-color: @primary;
    border: none;
    border-radius: 6px;
    outline: none;
}

#text {
    padding-right: 4px;
    padding-left: 8px;
    color: @content;
    font: 13px "Roboto Mono";
}

#text:selected {
    color: @accent;
}
